
@{
    ViewBag.Title = "About";
}

<center>
    <div class="bottom-agile py-5" id="about">
        <div class="container py-xl-5 py-lg-3">
            <div class="about-top p-xl-5 p-sm-4 p-3 text-center">
                <h3>Welcome</h3>
                <p class="text-white mt-2 mb-4 mx-auto">
                    JK Beauty Spa Services.
                </p>
                <img src="~/Content/images/bo2.png" alt="" class="img-fluid">
            </div>
            <div class="row about-bottom-w3ls mt-md-5 mt-4">
                <div class="col-md-4 grids-w3lsm">
                    <div class="top-head-abagile">
                        <h3 class="border-left text-capitalize text-dark pl-4 mb-4">
                            special care
                            <span>solutions</span>
                        </h3>
                    </div>
                    <p>
                        Tattva Spa offers a holistic range of beauty and spa services ranging from massages, facials, body scrubs, body wraps, manicures, pedicures, hair spa and
                    </p>
                </div>
                <div class="col-md-4 grids-w3lsm my-md-0 my-4">
                    <div class="top-head-abagile">
                        <h3 class="border-left text-capitalize text-dark pl-4 mb-4">
                            body care &
                            <span>massage</span>
                        </h3>
                    </div>
                    <p>
                        pa services are a complete package for pampering your body and relaxing your soul. In these stress-ridden times, each one of us has something or the other that worries us and hence, leads to tension that is sometimes unnecessary.
                    </p>
                </div>
                <div class="col-md-4 grids-w3lsm">
                    <div class="top-head-abagile">
                        <h3 class="border-left text-capitalize text-dark pl-4 mb-4">
                            oils &
                            <span>aromatherapy</span>
                        </h3>
                    </div>
                    <p>
                        Spa services are thus designed keeping in mind the basic needs of clients. Wellness, weight loss, controlling aging, rejuvenation and off course stress busting, are those needs which could be fit in that bracket.
                    </p>
                </div>
            </div>
        </div>
    </div>
</center>

