
@{
    ViewBag.Title = "Gallery";
}

<center>
    <div class="gallery pb-5" id="gallery">
        <div class="container-fluid pb-xl-5 pb-lg-3">
            <h3 class="text-capitalize font-weight-bold text-center title  mb-sm-5 mb-4">our gallery</h3>
            <div class="row w3layouts_gallery_grids">
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g1.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g1.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">JK Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g2.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g2.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">JK Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g3.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g3.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g4.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g4.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row w3layouts_gallery_grids">
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g5.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g5.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g6.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g6.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Conetnt/images/g7.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g7.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 w3layouts_gallery_grid p-0">
                    <a href="~/Content/images/g8.jpg" class="lsb-preview" data-lsb-group="header">
                        <div class="w3layouts_news_grid">
                            <img src="~/Content/images/g8.jpg" alt=" " class="img-fluid">
                            <div class="w3layouts_news_grid_pos">
                                <div class="wthree_text">
                                    <h3 class="text-white font-weight-bold">Beauty Spa</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</center>

