
@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Welcome To Our Jk Beauty Spa </h2>

    <div class="middle-sec text-center py-5 ">
        <div class="container py-xl-5 py-md-3">
            <h4 class="text-uppercase text-white">Improve The Quality Of Your Life</h4>
            <a href="#contact" class="scroll btn mt-sm-5 mt-4">Contact Us</a>
        </div>
    </div>
</center>