@model  SpaBookingSYstemMVC.Models.TblRegister
@{
    ViewBag.Title = "Login";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <table>
        <tr>
            <td colspan="2" align="center">Login here</td>
        </tr>
        <tr>

            <td align="center">
                <asp:DropDownList id="DroupDownListLogin" runat="server">
                    <asp:ListItem>Select Operant</asp:ListItem>
                    <asp:Listitem>User</asp:Listitem>
                    <asp:ListItem>Admin</asp:ListItem>
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td align="center">UserName</td>
            <td align="center">@Html.TextBoxFor(m=>m.email)</td>
        </tr>
        <tr>
            <td align="center">Password</td>
            <td align="center">@Html.TextBoxFor(m=>m.pass)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btndecoration" value="Login" /></td>
        </tr>

    </table>
    <br />
    <br />
    <br />
    <br />
</center>

