
@{
    ViewBag.Title = "Service";
}

<center>
    <div class="services-w3ls py-5" id="services">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="text-capitalize font-weight-bold text-center title mb-sm-5 mb-4">popular Services</h3>
            <div class="row text-sm-left text-center">
                <div class="col-lg-3 col-sm-6 service-grid">
                    <img src="~/Content/images/s1.jpg" alt="" class="img-fluid">
                    <h4 class="text-capitalize text-dark my-sm-4 my-3">hot stone</h4>
                    <p>Negrar èla storia di uoini donne dediti alla Nullam dui dolor, sagittis ut nte eget.</p>
                </div>
                <div class="col-lg-3 col-sm-6 service-grid mt-sm-0 mt-4">
                    <img src="~/Content/images/s2.jpg" alt="" class="img-fluid">
                    <h4 class="text-capitalize text-dark  my-sm-4 my-3">aromatherapy</h4>
                    <p>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 service-grid mt-lg-0 mt-sm-5 mt-4">
                    <img src="~/Content/images/s3.jpg" alt="" class="img-fluid">
                    <h4 class="text-capitalize text-dark  my-sm-4 my-3">facial peelings</h4>
                    <p></p>
                </div>
                <div class="col-lg-3 col-sm-6 service-grid mt-lg-0 mt-sm-5 mt-4">
                    <img src="~/Content/images/s4.jpg" alt="" class="img-fluid">
                    <h4 class="text-capitalize text-dark  my-sm-4 my-3">massages</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</center>

