
@{
    ViewBag.Title = "Team";
}

<center>
    <div class="team-w3 py-5" id="team">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="text-capitalize font-weight-bold text-center title  mb-sm-5 mb-4">our team</h3>
            <div class="row w3_services_grids">
                <div class="col-md-3 col-6 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure class="mb-0">
                            <img src="~/Content/images/t1.jpg" alt=" " class="img-fluid" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li>
                                    <a href="#" class="icon icon-border fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text-w3ls p-3">
                        <h4 class="text-dark my-2">Vandana Patel</h4>
                        <p>Beauty Expert</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure class="mb-0">
                            <img src="~/Content/images/t2.jpg" alt=" " class="img-fluid" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li>
                                    <a href="#" class="icon icon-border fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-instagram"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-facebook-f"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text-w3ls p-3">
                        <h4 class="text-dark my-2">Kinjal Hosai</h4>
                        <p>Beauty Expert</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 w3ls_team_grid mt-md-0 mt-4">
                    <div class="w3ls_team_grid1 hover15 w3l-tem-k">
                        <figure class="mb-0">
                            <img src="~/Content/images/t3.jpg" alt=" " class="img-fluid" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li>
                                    <a href="#" class="icon icon-border fab fa-instagram"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-twitter"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text-w3ls p-3">
                        <h4 class="text-dark my-2">Shilpa Ahir</h4>
                        <p>Beauty Expert</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 w3ls_team_grid mt-md-0 mt-4">
                    <div class="w3ls_team_grid1 hover15 w3l-tem-k-2">
                        <figure class="mb-0">
                            <img src="~/Content/images/t4.jpg" alt=" " class="img-fluid" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li>
                                    <a href="#" class="icon icon-border fab fa-pinterest-p"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-border fab fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-text-w3ls p-3">
                        <h4 class="text-dark my-2">Kiran Gosai</h4>
                        <p>Beauty Expert</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

